body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#map {
    height: 500px;
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 1;
}
#landmarkList {
    margin-top: 10px;
    text-align: left;
    width: 80%;
    margin: auto;
}
button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

* {
    box-sizing: border-box;
}

#container{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: #000;
    opacity: 0.85;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.pane {
    background-color: white;
    border: #0056b3 1px solid;
    border-radius: 10px;
    display: none;
    position: static;
    padding: 20px;
}

td {
    padding: 10px 20px;
    text-align: left;
}